{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Search Emails {% endblock %}</h1>

    <form class="row g-3" method="post">
        <div class="col-md-6">
            <label for="email_from" class="form-label">Email From</label>
            <input type="email" name="email_from" id="email_from"
                   placeholder="Email From" class="form-control"
                   value="{{ request['fr'] }}">
        </div>

        <div class="col-md-6">
            <label for="email_to" class="form-label">Email To</label>
            <input type="email" name="email_to" id="email_to"
                   placeholder="Email To" class="form-control"
                   value="{{ request['to'] }}">
        </div>

        <div class="col-12">
            <label for="email_thread" class="form-label">Email Thread</label>
            <input type="text" name="email_thread" id="email_thread"
                   placeholder="Email Thread" class="form-control"
                   value="{{ request['et'] }}">
        </div>

        <div class="col-md-6">
            <label for="date_after" class="form-label">After</label>
            <input type="date" name="date_after" id="date_after"
                   placeholder="2023-11-01"
                   value="{{ request['af'] }}">
        </div>

        <div class="col-md-6">
            <label for="date_before" class="form-label">Before</label>
            <input type="date" name="date_before" id="date_before"
                   placeholder="2023-12-01"
                   value="{{ request['be'] }}">
        </div>

        <div class="col-9">
            <label for="keyword" class="form-label">Keyword</label>
            <input type="text" name="keyword" id="keyword"
                   placeholder="Keyword" class="form-control"
                   value="{{ request['ke'] }}">
        </div>
        <div class="col-3">
            <div>
                <input type="checkbox" id="is_kw_semantic" name="is_kw_semantic" value="Tr">
                <label for="is_kw_semantic" class="form-check-label"> Semantic search</label>
            </div>
            <div>
                <input type="checkbox" id="is_kw_jpn" name="is_kw_jpn" value="Tr">
                <label for="is_kw_jpn" class="form-check-label"> Include Japanese </label>
            </div>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

    <br>

    <table id="myTable" border='5' class='table table-striped table-hover'
           style='border-collapse:separate'>
        <thead>
            <tr>
                <td>ID</td>
                <td>Sender</td>
                <td>Recipient</td>
                <td>Time</td>
                <td>Subject</td>
                <td>Keyword</td>
            </tr>
        </thead>
        <tbody>
        {% for mail in emails %}
            <tr>
                <td><a href="{{ url_for('view_mail', mail_id=mail['id']) }}">{{mail['id']}}</a></td>
                <td>{{mail['email_address']}}</td>
                <td>{{mail['email_address_1']}}</td>
                <td>{{mail['time']}}</td>
                <td>{{mail['subject']}}</td>
                <td>{{mail['keyword']}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#myTable').DataTable({
        columns: [
          {searchable: false},
          null,
          null,
          {searchable: false},
          {orderable: false},
          {orderable: false}],
      });
    });


  </script>
{% endblock %}