{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Email Content {% endblock %}</h1>


    <table border='1' style='border-collapse:collapse'>
            <tr>
                <td>Sender</td>
                <td>Recipient</td>
                <td>Time</td>
                <td>Subject</td>
                <td>Keyword</td>
            </tr>
            <tr>
                <td>{{data['email_address']}}</td>
                <td>{{data['email_address_1']}}</td>
                <td>{{data['time']}}</td>
                <td>{{data['subject']}}</td>
                <td>{{data['keyword']}}</td>
            </tr>
        </table>
        <p>{{text}}</p>

        <form method="post" action="{{ url_for('mail_delete', mail_id=data['id']) }}" class="inline">
            <input type="hidden" name="extra_submit_param" value="extra_submit_value">
            <button type="submit" name="submit_param" value="submit_value" class="link-button"
                    onclick="return confirm('Do you want to permanently delete mail {{data['id']}}?');"
                    href="{{ url_for('mail_delete', mail_id=data['id']) }}">
                Delete This Mail
            </button>
        </form>

{% endblock %}